* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.calculator {
  height: 100vh;
}
.all-screen {
  background-color: black;
  width: 25rem;
  height: 38rem;
  border-radius: 2rem;
  gap: 5px;
}
/*View Screen*/
.view-secreen p {
  text-align: right;
  width: 25rem;
  padding-right: 2.3rem;
}
#firstResult {
  padding-top: 1rem;
  font-size: 1.8rem;
}
#secondResult {
  font-size: 3.2rem;
}
/*Calculate Screen*/
.numbers {
  background-color: black;
  width: 23rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  border-radius: 2rem;
  gap: 0.5rem;
}

.calculate-screen #ac-oparator,
#minus-plus,
#percent,
.oparator,
.number {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  color: white;
  background-color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
#oparator {
  background-color: orange;
}
.calculate-screen #ac-oparator:hover,
#minus-plus:hover,
#percent:hover,
.oparator:hover,
.number:hover {
  opacity: 0.6;
  transition: all 0.4s;
  cursor: pointer;
}

.zero {
  justify-content: flex-start !important;
  padding-left: 2rem !important;
  width: 10rem !important;
  border-radius: 40px !important;
  grid-column: span 2 !important;
}